.pane {
    -fx-background-color: #0b3d7e;
}
.transparent {
    -fx-background-color: rgba(0, 0, 0, 0);
}
.search-box {
    -fx-background-color: #ffffff;
    -fx-background-radius: 100;
}
.search-button {
    -fx-background-color: #a4a0a0;
    -fx-background-radius: 30;
}
.selected:hover {
    -fx-background-color: #666786;
}
.right-pane {
    -fx-background-color: #c46fe1;
}